body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }
        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }


c { 
    background-color: #f0f0f0;
}

p {
    font-family: serif;
    line-height: 1.75em;
	background-color: #f0f0f0;
}

i {
    font-family: sans;
    color: pink;
	background-color: #f0f0f0;
}

h2 {
    font-family: sans;
    color: green;
	background-color: #f0f0f0;
	
}

a {
	font-family: sans;
    color: red;
	background-color: #f0f0f0;
}

b {
	font-family: sans;
    color: green;
    background-color: #f0f0f0;
}

